.container {
  display: grid;
  grid-template-columns: 100px auto 100px 100px;
  column-gap: 10px;
  row-gap: 10px;
}

.container > div {
  /* display: inline-block; */
  background: #373142;
  color: #fff;
  text-align: center;
  line-height: 100px;
}
